/* this css file will only style the homepage of our site */

.toby {
  margin: 10px;
  max-width: 300px;
}

.man {
  margin: 10px;
  max-width: 100px;
}

.honorable-mentions {
  margin: 10px;
  max-width: 200px;
}

